openapi: 3.0.0
info:
  title: University Admission System API
  description: API for mobile applicants and student management integrations.
  version: 1.0.0
servers:
  - url: https://api.university-admission.uz/v1
    description: Production Server
  - url: http://localhost:8032/v1
    description: Local Development

paths:
  /auth/login:
    post:
      summary: Authenticate a user and retrieve a JWT token
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Phone number (+998XXXXXXXXX)
                password:
                  type: string
                  format: password
              required:
                - username
                - password
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Unauthorized - Invalid credentials

  /student/profile:
    get:
      summary: Retrieve the authenticated student's profile
      tags:
        - Student
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentProfile'
        '401':
          description: Unauthorized

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AuthResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        user:
          type: object
          properties:
            id:
              type: integer
            username:
              type: string
            full_name:
              type: string

    StudentProfile:
      type: object
      properties:
        id:
          type: integer
        full_name:
          type: string
        status:
          type: integer
        status_label:
          type: string
        direction:
          type: string
        branch:
          type: string
